<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {# Title #}
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Default assets #}
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        {# Specific per template css #}
        {% block stylesheets %}
        {% endblock %}

    </head>

    {# Main container #}
    <body>
        <div id="particles-js">
            <div class="presentation-block flex h-screen">
                <div class="my-auto w-full">
                    <div class="prompt mx-auto rounded-md bg-black h-[80vh] w-4/5 border border-slate-400">
                        <div class="prompt-head flex flex-row gap-2 rounded-t bg-slate-400 py-2 px-3 w-full">
                            <div class="dot-red bg-red-500"></div>
                            <div class="dot-yellow bg-yellow-500"></div>
                            <div class="dot-green bg-green-500"></div>
                        </div>
                        <div class="prompt-body h-full">
                            {# Main content #}
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Specific per template js #}
        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script src="{{asset('build/runtime.js')}}"></script>
            <script src="{{asset('build/vendors-node_modules_symfony_stimulus-bridge_dist_index_js-node_modules_particles_js_particles_js.js')}}"></script>
            <script src="{{asset('build/app.js')}}"></script>
        {% endblock %}
        
    </body>

</html>
